{% load i18n %}
<div class="explanation-text">
    <h4> {% trans "Jouons à l'entraînement cognitif:" %}</h4>
    <p>
        {% trans "Si vous avez pris le temps de répondre à des questionnaires jusqu'ici, merci pour votre aide! C'est le moment de s'entraîner. Pour rappel, vous allez pratiquer une tâche dont l'objectif est l'amélioration de vos capacités cognitives." %}
    </p>
    <h4> {% trans "Déroulement du protocole:" %} </h4>
    <p>
        <h5> {% trans "Tâche principale:" %} </h5>
        {%load static%}
        {% trans "Après lancement de l'expèrience (bouton 'Commencer'), il vous sera demandé de suivre les cibles." %} <br>
        {% trans "Attention, il ne faudra pas les confondre avec les distracteurs." %} <br>
        {% trans "Quand les cibles se transforment en distracteurs, ne les perdez pas de vue, il vous sera demandé de les retrouver!" %} <br>
        {% trans "La tâche débutera par une présentation du contexte ainsi que de la mission du jour. " %} <br>
        <h5>{% trans "Attention, la session dure 30 minutes!" %}</h5> <br>
        {% trans "Vous pouvez observer le temps restant en bas à droite de l'image suivante."%} <br>
        <div class="text-center"><img class="mx-auto" id="timer_img" src={%  static 'images/timer.png' %}></div>
    </p>
</div>

