{% extends "base.html" %}
{% block title %}TASK{% endblock %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_app.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_tuto.css' %}">
    <link rel="stylesheet" href="{% static CONTEXT.participant.study.style %}">
{% endblock %}

{% block content %}
    {% load mot_app_extras %}
    {% get_current_language as LANGUAGE_CODE %}
    {% check_language_code LANGUAGE_CODE as LANGUAGE_CODE %}
    <div class="btn-box" style="flex-direction: column; justify-content: start" id="logout-button" onclick="confirm_logout()">
        <button class="btn logout" style="margin: 30px; z-index: 10">{% trans "Se déconnecter" %}</button>
    </div>
    <div class="img_container">
        <div class="subcontainer_img">
            <img id="img_researcher_pre_post" src="{% static 'images/researcher/researcher_shadow.png' %}">
        </div>
        <div class="general_instructions_bubble bubble" id="mot_tuto_buble" >
            <div class="text mot_tuto_text" id="0">
                {% trans "Bonjour, c'est de nouveau moi, le docteur Flowers ! Votre entraînement va enfin démarrer !" %}
                <br>
                {% trans "Je vais vous présenter les consignes à suivre." %}
                <br>
                <i>{% trans "Cliquez sur le bouton suivant pour la suite des explications." %}</i>
            </div>
            <div class="text mot_tuto_text" style="display:none" id="1">
                <h4>
                    {% trans "La mission que nous vous confions est simple : suivre des cibles !" %}
                </h4>
                <br>
                {% trans "Tout au long de l'étude, ces cibles prendront différentes formes que vous découvrirez en temps voulu. Durant le reste des explications, les cibles ressembleront à :" %}
                <br>
                <img src="{% static 'images/mot_visuals/tuto_target.png' %}" style="width: 80px; align-self: center">
                <br>
                {% trans "Attention, elles ne seront pas si faciles à attraper. En effet ces cibles bougent dans le même espace que des distracteurs :" %}
                <br>
                <img src="{% static 'images/mot_visuals/tuto_distractor.png' %}" style="width: 80px; align-self: center">
                <br>
                {% trans "Quoiqu'il arrive, retrouvez les cibles et ne selectionnez pas les distracteurs !" %}
            </div>
            <div class="text mot_tuto_text" style="position: relative; display:none;flex-direction: row;" id="2">
                <div class="left_side">
                    <div id="canvas_holder_tutorial" class="app"></div>
                </div>
                <div id="text_pres" style="align-self: center; margin-left: 40px;">
                    <h4>{% trans "Toutes les missions se déroulent de la même façon :" %}</h4>
                    <br>
                    <br>
                    <p>{% trans "1 - Nous vous présentons d'abord les cibles et les distracteurs." %}</p>
                    <p id="guideline_2" style="display: none">{% trans "2 - Puis ils s'arrêtent quelques instants afin que vous puissiez les identifier." %}</p>
                    <p id="guideline_3" style="display: none">{% trans "3 - Les cibles se transforment en distracteur !" %}</p>
                    <p id="guideline_4" style="display: none">{% trans "4 - Cibles et distracteurs bougent dans l'espace." %}</p>
                    <p id="guideline_5" style="display: none">{% trans "5 - Retrouvez les cibles initialement présentés." %}</p>
                    <p id="guideline_6" style="display: none">{% trans "6 - On vous donne finalement la réponse." %}</p>
                </div>
            </div>
            <div class="text mot_tuto_text" style="display:none" id="3">
                {% trans "Je pense que vous êtes prêts mais... Une dernière chose avant de débuter :" %}
                {% trans "Le niveau des missions varie en cours d'expérience en fonction du nombre de cibles à retrouver." %}
                {% trans "Pour suivre votre progression, il vous sera possible d'accéder à l'interface suivante." %}
            </div>
            <div class="text mot_tuto_text" style="display:none" id="4">
                {% with "images/progress/tutorial/1_"|addstr:LANGUAGE_CODE|addstr:".png" as path %}
                    <img src="{% static path %}" style="width:900px; align-self: center">
                {% endwith %}
            </div>
            <div class="text mot_tuto_text" style="display:none" id="5">
                {% with "images/progress/tutorial/2_"|addstr:LANGUAGE_CODE|addstr:".png" as path %}
                    <img src="{% static path %}" style="width:900px; align-self: center">
                {% endwith %}
            </div>
            <div class="text mot_tuto_text" style="display:none" id="6">
                {% with "images/progress/tutorial/3_"|addstr:LANGUAGE_CODE|addstr:".png" as path %}
                    <img src="{% static path %}" style="width:900px; align-self: center">
                {% endwith %}
            </div>
            <div class="text mot_tuto_text" style="display:none" id="7">
                {% with "images/progress/tutorial/4_"|addstr:LANGUAGE_CODE|addstr:".png" as path %}
                    <img src="{% static path %}" style="width:900px; align-self: center">
                {% endwith %}
            </div>
            <div class="text mot_tuto_text" style="display:none" id="8">
                {% with "images/progress/tutorial/5_"|addstr:LANGUAGE_CODE|addstr:".png" as path %}
                    <img src="{% static path %}" style="width:900px; align-self: center">
                {% endwith %}
            </div>
            <div class="text mot_tuto_text" style="display:none" id="9">
                {% with "images/progress/tutorial/6_"|addstr:LANGUAGE_CODE|addstr:".png" as path %}
                    <img src="{% static path %}" style="width:900px; align-self: center">
                {% endwith %}
            </div>
            <div class="container-btn">
                <button class="btn" style="display:none;" value="Previous" id="previous_btn"
                        onclick="previous_button_click()">{% trans "Précédent" %}</button>
                <button class="btn" value="Next" id="next_btn"
                        onclick="next_button_click()">{% trans "Suivant" %}</button>
                <button class="btn" value="Start" style="display:none;" id="start_btn"
                        onclick="end_task()">{% trans "Démarrer" %}</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{% get_current_language as LANGUAGE_CODE %}
<script>  let language_code = {% autoescape off %}"{{LANGUAGE_CODE}}"{% endautoescape %}; </script>
<script>
    let step_nb = 0;
    let next_button = document.getElementById("next_btn");
    let previous_button = document.getElementById("previous_btn");
    let start_button = document.getElementById("start_btn");

    function next_button_click() {
        step_nb++;
        switch (step_nb) {
            case 1:
                previous_button.style.display = 'inline-block';
                break;
            case 3:
                if(mode!=='give_answers'){
                    step_nb --;
                    next_button_tuto();
                }
                break;
            case 9:
                start_button.style.display = 'inline-block';
                next_button.style.display = 'none';
                break;
        }
        display_text_nb(step_nb);
        hide_text_nb(step_nb - 1);
    }

    function previous_button_click() {
        step_nb--;
        next_button.style.display = 'inline-block';
        start_button.style.display = 'none';
        switch (step_nb) {
            case 0:
                previous_button.style.display = 'none';
                break;
            case 1:
                if(mode!=='moving_presentation'){
                    step_nb ++;
                    previous_button_tuto();
                }
                break;
        }
        display_text_nb(step_nb);
        hide_text_nb(step_nb + 1);
    }

    function display_text_nb(step_nb) {
        var text_div = document.getElementById(step_nb);
        text_div.style.display = 'flex';
    }

    function hide_text_nb(step_nb) {
        var text_div = document.getElementById(step_nb);
        text_div.style.display = 'none';
    }

    function end_task() {
        window.location.href = "end_task";
    }

</script>

<script>  let next_episode_func_name = {% autoescape off %}"{{ CONTEXT.next_episode_function }}"{% endautoescape %}; </script>
<script>  let quit_game_func_name = {% autoescape off %}"{{ CONTEXT.exit_function }}"{% endautoescape %}; </script>
<script>  let restart_func_name = {% autoescape off %}"{{ CONTEXT.restart_function }}"{% endautoescape %}; </script>
<script>  let target_path = "{% static 'images/mot_visuals/' %}{% autoescape off %}{{ CONTEXT.target_path }}.png"{% endautoescape %}; </script>
<script>  let background_path = "{% static 'images/mot_visuals/' %}{% autoescape off %}{{ CONTEXT.background_path }}.png"{% endautoescape %}; </script>
<script>  let distractor_path = "{% static 'images/mot_visuals/' %}{% autoescape off %}{{ CONTEXT.distractor_path }}.png"{% endautoescape %}; </script>
<script>  let map_progress_path = "{% static 'images/story_telling/' %}{% autoescape off %}{{ CONTEXT.map_path }}.png"{% endautoescape %}; </script>
<script>  let map_progress = "{% autoescape off %}{{ CONTEXT.map_path }}"{% endautoescape %}; </script>
<script src="{% static 'js/app_mot/config/params.js' %}"></script>
<script src="{% static 'js/utils/utils.js' %}"></script>
<script src="{% static 'js/app_mot/utils.js' %}"></script>
<script src="{% static 'js/app_mot/quit_app.js' %}"></script>
<script src="{% static 'js/app_mot/play_app.js' %}"></script>
<script src="{% static 'js/app_mot/start_app.js' %}"></script>
<script src="{% static 'js/app_mot/MOT_base/tracked_objects.js' %}"></script>
<script src="{% static 'js/app_mot/MOT_Game/tracked_object_game.js' %}"></script>
<script src="{% static 'js/app_mot/MOT_Game_Light/tracked_object_game_light.js' %}"></script>
<script src="{% static 'js/app_mot/MOT_base/MOT.js' %}"></script>
<script src="{% static 'js/app_mot/MOT_Game/MOT_game.js' %}"></script>
<script src="{% static 'js/app_mot/MOT_Game_Light/MOT_game_light.js' %}"></script>
<script src="{% static 'js/app_mot/MOT_Secondary_Task/secondary_task.js' %}"></script>
<script src="{% static 'js/app_mot/MOT_Pannel/pannel_app.js' %}"></script>
<script src="{% static 'js/app_mot/tutorial/sketch_p5_tuto.js' %}"></script>
<script src="{% static 'js/app_mot/config/prompt.js' %}"></script>
{#    <script> parameter_dict = {% autoescape off %}{{CONTEXT.parameter_dict}}{% endautoescape %} </script>#}
<script> parameter_dict = default_params; </script>
<script>
    const sessionActive = {{request.session.active_session}}
    function confirm_logout() {
        if (sessionActive && confirm('Current session is not finished, continue ?')) {
            window.location.href = "user_logout"
        }
    }
</script>
{% endblock %}
