*.pyc
.vscode
.idea/
lib/kidlearn/
#flowers-ol/manager_app/static/admin/
# Pipfile
Pipfile.lock
*migrations/
#flowers-ol-db
#flowers-ol/static
lib/kidlearn/
static/images/pre-post-imgs
static/JSON/config_files/completion.json
analysis_extraction/outputs
static/JSON/zpdes_states.csv
static/JSON/baseline_states.csv
static/images/zpdes_app